# Turso SQLite DB credentials
LIBSQL_DB_URL=libsql://your-database-name.turso.io
LIBSQL_DB_AUTH_TOKEN=your-turso-auth-token

# Admin configuration
ADMIN_PASSWORD=champions2026
JWT_SECRET=champions-cup-super-secret-key-2026

# Server Port (Required if port 3000 is in use)
PORT=3050
